body {
 background: linear-gradient(122.3deg, rgb(111, 71, 133) 14.6%, rgb(232, 129, 166) 29.6%, rgb(237, 237, 183) 42.1%, rgb(244, 166, 215) 56.7%, rgb(154, 219, 232) 68.7%, rgb(238, 226, 159) 84.8%);
background-repeat: no-repeat;
margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Sour Gummy", sans-serif;
}
.body {
    background: #bef2ff; 
    max-width: 500px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
    margin-top: 40px;
    box-shadow: 15px 15px 10px rgba(0,0,0, 0.6);
}
.search-form {
    padding: 10px;
    border-bottom:1px solid rgb(232, 129, 166);
}

.search-form-button{
    background: rgb(252, 194, 226);
    border-radius: 4px;
    color: white;
    padding: 20px;
    width: 100px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    }

    .search-form-button:hover{
       background: white;
       color:rgb(232, 129, 166);
    }


  .search-form-input {
    border-radius: 4px;
    padding: 20px ;
    width: 300px;
    border: none;
  }
    .weather-app-city {
        line-height: 20px;
        font-size: 40px;
        font-weight: bolder;
    }

    .weather-app-data {
        border-bottom: 1px solid rgb(232, 129, 166);
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .weather-app-temperature {
        font-size: 100px;
        font-weight: bold;
    }

    .weather-app-temperature-container {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    .weather-app-unit {
        font-size: 30px;
        position: relative;
        bottom: -10px;
    }

    .weather-icon{
        width: 80px;
        height: 80px;
        position: relative;
        bottom: -40px;
    }


    #humidity {
        color: rgb(232, 129, 166);
    }

    #wind-speed {
        color: rgb(232, 129, 166);
    }
